{% extends "admin.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<div class="container flex-grow-1">
    <div class="row justify-content-center mt-5 mb-3">
        <div class="col-md-6">
            {% if 'admin' in session and login != 'success' %}
                <h1 class="text-center">Wylogowywanie</h1>
                <p class="text-center">Wciśnij poniższy przycisk, aby się wylogować.</p>
                <form method="POST" class="mt-5 p-4 bg-light rounded card shadow-sm text-center">
                    <input type="hidden" name="action" value="logout">
                    <h2 class="fw-bold mb-4">Jesteś zalogowany!</h2>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-danger">Wyloguj się</button>
                    </div>
                </form>  
            {% else %}
                <h1 class="text-center">Logowanie</h1>
                <p class="text-center">Zaloguj się, aby móc zarządzać stroną.</p>
                <form method="POST" class="mt-5 p-4 bg-light rounded card shadow-sm">
                    <input type="hidden" name="action" value="login">
                    <div class="mb-3">
                        <label for="username" class="form-label">Nazwa użytkownika</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Wprowadź nazwę użytkownika">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Hasło</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Wprowadź hasło">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Zaloguj się</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

    {% if request.method == 'POST' %}
        {% if login == 'failure' %}
            <p class="text-center text-danger">Nieprawidłowa nazwa użytkownika lub hasło</p>
        {% elif login == 'success' %}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="alert alert-success text-center fs-4 shadow-sm" role="alert" style="background: linear-gradient(to right, #d4fc79, #96e6a1);">
                        <strong>Zalogowano pomyślnie!</strong>
                        <p class="mt-3">Przekierowanie nastąpi za <span id="countdown">3</span> sekundy.</p>
                    </div>
                </div>
            </div>
            <script>
                let countdownElement = document.getElementById('countdown');
                let timeLeft = 3;

                let countdownInterval = setInterval(function() {
                    timeLeft--;
                    countdownElement.textContent = timeLeft;

                    if (timeLeft <= 0) {
                        clearInterval(countdownInterval);
                        window.location.href = "/admin";
                    }
                }, 1000);
            </script>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
